@model IEnumerable<src.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h3 class="page-title">
        Clientes
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listar</li>
        </ol>
    </nav>
</div> 

<div class="card">
    
    <div class="card-body">
        <!-- <h4 class="card-title">Pessoas</h4> -->
        <div class="row">
            <div class="col-sm-6">
                <p class="card-description">
                    <a href="/pessoa/create" class="open-remote-modal"><i class="mdi mdi-note-outline"></i></a> Incluir
                </p>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>                
                </div>
                <input type="text" class="form-control bg-transparent" placeholder="Pesquisar por cliente">
                </div>
            </div>
        </div>   
           

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sobrenome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </div>
</div>


